.bookInfo {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}
.mainInfo {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.mainInfo h2 {
  margin-bottom: 0px;
}

.rating-div {
  display: flex;
  width: 100%;
  font-size: 13px;
  margin-top: 5px;
  align-items: center;
}
.rating {
  margin-top: 15px;
}
.save-stock {
  display: flex;
  font-size: 15px;
  justify-content: space-start;
  font-size: 20px;
  color: rgb(0, 128, 107);
  height: 40%;
}
.save-stock span {
  padding-right: 30px;
}
.nr-kategoria {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.available {
  display: flex;
  justify-content: flex-start;
}
.nr-cat-div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.qmimi {
  display: flex;
  justify-content: flex-end;
}
.extraInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2%;
  height: 25%;
  border: solid 1px rgb(185, 185, 185);
}
.bookButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-left: rgb(185, 185, 185) 1px solid;
  border-right: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
  height: 60px auto;
  align-items: center;
  max-width: 100%;

  padding: 12px 5px;
}
.bookButtons button {
  color: white;
  background-color: rgb(0, 128, 107);
}

.bookButtons button:hover {
  background-color: rgb(2, 112, 94);
}

/* Review styling */
.review-span {
  margin-bottom: 0;
}

.reviews-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  border-top: 1px solid rgb(209, 209, 209);
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
  padding-top: 20px;
  text-align: left;
}

.review {
  max-width: 30%;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgb(194, 179, 179);
}

.review h4 {
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (max-width: 660px) {
  .bookInfo {
    max-width: 400px;
    width: 100%;
  }
}

@media (max-width: 746px) {
  .reviews-container {
    border-top: none;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .review {
    max-width: 100%;
  }
}
