.bookInfo {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}
.mainInfo {
  display: flex;
  flex-flow: column wrap;

  align-items: flex-start;
}
.rating-div {
  width: 100%;
  font-size: 13px;
}
.rating-div span {
  padding-right: 20px;
}
.extraInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  border: solid 1px black;
}
.bookButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: solid 1px black;
  height: 60px;
}
