.createBook {
  max-width: 80%;
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  align-items: center;
}

.formStyle {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;

  width: 500px;
}

.input {
  margin: 10px 0;
}
@media screen and (max-width: 880px) {
  .createBook {
    max-width: 100%;
  }
}
