.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 90%;
  height: 100vh;
  margin-left: 5%;
  border: thin solid black;
}
.products {
  width: 90%;
  display: flex;
  overflow: hidden;
  height: 25%;
  padding-bottom: 20px;
  border-bottom: thin grey solid;
}
.productImage {
  padding-left: 3%;
  max-width: 25%;
  height: 100%;
}
.productImage img {
  width: 100%;
  height: 100%;
}
.productDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3%;
}
.productSecond {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}
.productPrice {
  width: 20%;
  font-size: 23px;
}
.productButton {
  width: 30%;
  padding-top: 66px;
}
.productButton button {
  width: 60%;
  height: 40px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
}
.productButton button:hover {
  background-color: rgb(247, 83, 83);
}

.productIcon {
  padding-top: 62px;
}
.icon {
  color: red;
}
