.side-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 270px;
  height: 100%;
  background-color: #253053;
  z-index: 1;
}

.menu-container {
  display: flex;
  flex-direction: column;
  color: white;
  max-height: 500px;
  height: 100%;
  margin-top: 25px;
  font-size: 1.4rem;
}
.menu-container h3 {
  align-self: flex-start;
  padding-left: 5px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.links a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(224, 255, 255);
}

.log-out button {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: rgb(100, 170, 228);
  border: none;
  font-size: 17px;
  color: white;
  outline: none;
  border-radius: 5px;
  transition: all 0.1s;
}

.log-out button:hover {
  background-color: seashell;
  color: black;
}

.links a:hover {
  text-decoration: underline;
  color: rgb(187, 185, 185);
}

.links:not(:last-child) {
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 880px) {
  .side-menu {
    display: none;
  }
}
