ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.link {
  text-decoration: none;
  color: black;
  padding: 2rem;
}
.booklist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booklist-category {
  display: flex;
  align-self: flex-start;
  padding-left: 6%;
}
.div-booklist {
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
  color: rgb(102, 59, 59);
}
.div-booklist button {
  margin-top: 20px;
  height: 50px;
  width: 150px;
  border: none;
  font-size: 18px;
  background-color: steelblue;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  color: white;
  border-radius: 8px;
}
.see-more {
  margin-right: 6%;
}
.div-booklist button:hover {
  background-color: rgb(89, 161, 219);
}
@media screen and (max-width: 800px) {
  .link {
    width: 40%;
  }

  .booklist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-detail {
    width: 100%;
  }
}
