ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: black;
}

.booklist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
