.nav-bar {
  height: 10rem;
  transform: translateY(-10%);
  margin-bottom: 80px;
}

.display-none {
  display: none;
}

.no-scroll {
  position: fixed;
  width: 100%;
}

.admin-page {
  display: flex;
  background-color: rgb(241, 240, 233);
  margin-bottom: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.menu-icon {
  display: none;
}

.link-list {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.signin-div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  font-size: 1.2rem;
}

.logo {
  text-decoration: none;
  transform: translateY(-15%);
  font-size: 3rem;
  margin-bottom: 20px;
}

.logo a {
  color: rgb(102, 59, 59);
}

.nav-bar a:hover {
  text-decoration: underline;
}
.second-bar {
  display: flex;
  width: 100%;
  align-items: center;
}
.second-links {
  width: 50%;
  font-size: 0.8rem;
}
.search-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 4%;
}

.search-div input {
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .link-list {
    font-size: 1.1rem;
    width: 70%;
    transform: translateX(-50px);
    justify-content: flex-start;
    padding-left: 10px;
    transition: all 0.3s;
  }
  .signin-div {
    font-size: 1rem;

    width: 36%;
    display: flex;
    transform: translateY(5px);
    padding-right: 2%;
  }
  .search-div {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .admin-page {
    position: relative;
    overflow: hidden;
  }

  .nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(0);
    overflow-y: hidden;
    height: 93vh;
    position: fixed;

    top: 70px;
    left: -100%;
    justify-content: flex-start;
    transition: all 0.3s ease;
    padding: 0;
  }

  .link-list.active {
    background: #1a1818;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1000;
    margin: 0;
    height: 93vh;
    overflow: hidden;
  }

  .nav-item a {
    color: azure;
  }

  .nav-links {
    text-align: center;
    padding: 1.2rem 4rem;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 2px;
  }

  .signin-div {
    transform: translateY(5px);
    width: 95%;
  }
  .menu-icon {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}
