.nav-bar {
  margin-bottom: 18px;
  height: 10rem;
  transform: translateY(-10%);
  margin-bottom: 80px;
}

.admin-page {
  display: flex;
  transform: translateY(-0%);
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.link-list {
  display: flex;
  width: 50%;
  margin-top: 0;
  justify-content: flex-start;
}

.signin-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

.logo {
  text-decoration: none;
  transform: translateY(-15%);
  font-size: 3rem;
}

.nav-bar a:hover {
  text-decoration: underline;
}
.second-bar {
  display: flex;
  width: 100%;
  align-items: center;
}
.second-links {
  width: 50%;
  font-size: 0.8rem;
}
.search-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}
@media screen and (max-width: 800px) {
  .link-list {
    display: none;
  }
  .signin-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
  }
}
