.register {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.registerForm {
  width: 100%;
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
