.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.homepage {
  background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 600px) {
  .homepage {
    position: relative;
    z-index: -121;
  }
}
